.input{
    border: 1px solid white;
    padding: 10px;
}
.btn-grey{
    background-color: #ca9277;
    color: white;
    border: 1px solid #ca9277;
}
._newsletter_txt{
    color: white;
    font-size: 20px;
}